<%= simple_form_for proponent do |form| %>
  <div class="row">
    <%= form.input :name, label: "Nome", validation: false, disabled: true, readonly: true, wrapper_html: { class: "col-6" } %>
    <%= form.input :document_br_cpf, label: "CPF", disabled: true, readonly: true, wrapper_html: { class: "col-2" } %>
    <%= form.input :birth_date, label: "Data de Aniversário", as: :date, start_year: Date.today.year - 18, end_year: Date.today.year - 75, order: [:day, :month, :year], disabled: true, readonly: true, wrapper_html: { class: "col-4" } %>
  </div>

  <div class="row">
    <%= form.input :address_public_place, label: "Endereço", disabled: true, readonly: true, wrapper_html: { class: "col-8" } %>
    <%= form.input :address_number, label: "Número", disabled: true, readonly: true, wrapper_html: { class: "col-4" } %>
  </div>

  <div class="row">
    <%= form.input :address_district, label: "Bairro", disabled: true, readonly: true, wrapper_html: { class: "col-5" } %>
    <%= form.input :address_city, label: "Cidade", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
    <%= form.input :address_state, label: "Estado", disabled: true, readonly: true, wrapper_html: { class: "col-1" } %>
    <%= form.input :address_postalcode, label: "CEP", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
  </div>

  <div class="row">
    <%= form.input :phone_contact, label: "Telefone para contato", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
    <%= form.input :phone_reference, label: "Telefone para referência", disabled: true, readonly: true, wrapper_html: { class: "col-3"} %>
  </div>

  <div class="row">
    <%= form.input :salary_gross, label: "Salário Bruto", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
    <%= form.input :salary_social_contribution, label: "INSS", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
    <%= form.input :salary_net, label: "Salário Líquido", disabled: true, readonly: true, wrapper_html: { class: "col-3" } %>
  </div>

  <a href="<%= edit_proponent_path(proponent) %>" class="btn btn-outline-primary">
    <%= render partial: "icons/pencil-square" %>
    Editar
  </a>

  <button type="submit" class="btn btn-outline-primary" formmethod="put" formaction="<%= update_salary_proponent_path(proponent) %>">
    <input type="hidden" name="_method" value="put">
    <%= render partial: "icons/coin" %>
    Atualizar Salário
  </button>

  <button type="submit" class="btn btn-outline-primary" formmethod="delete">
    <input type="hidden" name="_method" value="delete">
    <%= render partial: "icons/trash" %>
    Excluir
  </button>

  <a href="<%= proponents_path %>" class="btn btn-outline-primary">
    <%= render partial: "icons/x-lg" %>
    Cancelar
  </a>
<% end %>
