<h1>Proponentes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Aniversário</th>
      <th scope="col">CEP</th>
      <th scope="col">Cidade - UF</th>
      <th scope="col">Salário Bruto</th>
      <th scope="col">Salário Líquido</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <%- @proponents.each do |proponent|%>
    <tr>
      <td><%= proponent[:name] %></td>
      <td><%= proponent[:document_br_cpf] %></td>
      <td><%= proponent[:birth_date].strftime "%d/%m/%Y" %></td>
      <td><%= proponent[:address_postalcode] %></td>
      <td><%= proponent[:address_city] %> - <%= proponent[:address_state] %></td>
      <td class="text-end"><%= proponent[:salary_gross] %></td>
      <td class="text-end"><%= proponent[:salary_net] %></td>
      <td class="text-end btn-toolbar" role="toolbar">
        <div class="btn-group me-1" role="group" aria-label="Opções para o proponente">
          <a href="<%= proponent_path(proponent) %>" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Visualizar proponente">
            <%= render partial: "icons/person"%>
          </a>

          <button type="button" form="proponent-id-<%= proponent[:id] %>_form" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Calcular INSS">
            <%= render partial: "icons/coin"%>
          </button>

          <a href="<%= edit_proponent_path(proponent) %>" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar proponente">
            <%= render partial: "icons/pencil-square"%>
          </a>
        </div>

        <%= form_with model: proponent, method: :delete, html: { remote: true } do |form| %>
          <input type="hidden" name="page" value="<%= @proponents.current_page %>"/>
          <div class="btn-group" role="group" aria-label="Exclusão do proponente">
            <button type="submit" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Excluir proponente">
              <%= render partial: "icons/trash" %>
            </button>
          </div>
        <% end %>
      </td>
    </tr>
    <% end -%>
  </tbody>

  <tfoot>
    <tr class="align-middle">
      <td colspan="2">
        <%= link_to new_proponent_path, class: "btn btn-outline-primary" do %>
          <%= render partial: "icons/person-plus" %>
          Novo proponente
        <% end %>
      </td>
      <td colspan="6" class="align-middle">
        <%= paginate @proponents %>
      </td>
    </tr>
  </tfoot>
</table>

<%= render partial: "layouts/notice" if notice %>
