<h1>Proponentes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Aniversário</th>
      <th scope="col">CEP</th>
      <th scope="col">Cidade - UF</th>
      <th scope="col">Salário</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <%- @proponents.each do |proponent|%>
    <tr>
      <td><%= proponent[:name] %></td>
      <td><%= proponent[:document_br_cpf] %></td>
      <td><%= proponent[:birth_date].strftime "%d/%m/%Y" %></td>
      <td><%= proponent[:address_postalcode] %></td>
      <td><%= proponent[:address_city] %> - <%= proponent[:address_state] %></td>
      <td><%= proponent[:salary] %></td>
    </tr>
    <% end -%>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="6">
        <%= paginate @proponents %>
      </td>
    </tr>
  </tfoot>
</table>
